/* styles.css */
#gradeTable {
    border-collapse: collapse;
    width: 100%;
    border-color: #dee2e6 !important;
    border-spacing: 2px;
}
table{
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: #dee2e6 !important;
}
th, td {
    padding: 8px;
    text-align: left;
	     
}
table.dataTable tr.odd {
    background-color: #f8f9fa;
}
table.dataTable tr.even {
    background-color: #fff;
}

table.dataTable thead th {
	border-bottom: none;
}

#gradeTable thead th{
	background-color: #f8f9fa;
}



th {
    background-color: #f2f2f2;
}
table.dataTable tr.odd td.sorting_1 {
	background-color: #f8f9fa;
}
table.dataTable tr.even td.sorting_1 {
	background-color: #fff;
}


#group-select-form {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

#entry {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 0.5rem;
}

#submit-button {
    appearance: none;
    border: 0;
    background: var(--primary);
    color: white;
    padding: 0.5rem 3rem;
}

.datatable-header .dt-buttons .buttons-excel {
    display: none;
}

#customExportButton{
    appearance: none;
    border: 0;
    background: #1D6F42;
    color: white;
    padding: 0.5rem 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1 rem;
}

#gradeTable_length{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
}
.dataTables_wrapper .dataTables_length select {
    border-radius: 0.5rem;
    width: 64px;
}
.dataTables_wrapper .dataTables_filter input {
    border-radius: 0.5rem;
}
#gradeTable_previous{
    font-style: normal;
}
#gradeTable_next{
    font-style: normal;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: var(--primary) !important;
    border: 1px solid #f2f2f2;
    background-color: white !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current{
	color: white;
}


#namecolumn {
    font-weight: normal;
}
#emailcolumn {
    font-weight: normal;
}
#page.drawers {
	    overflow-y: inherit !important;
}
/* Style for the first column */
dataTable no-footer .gradeparent th.header {
    position: sticky;
    left: -3rem;
}
#namecolumn {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    background-color: white; /* Adjust as needed */
    z-index: 2; /* Adjust to stack above other elements */
}
#namecolumn {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    background-color: white; /* Adjust as needed */
    z-index: 2; /* Adjust to stack above other elements */
}

#sticky-column {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    z-index: 2; /* Adjust to stack above other elements */
}
/* Set table layout to fixed */

